* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul li, ol li {
    list-style: none;
}

body {
    font-family: sans-serif;
}

header {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

a.logo {
    font-size: 25px;
    font-weight: bold;
}

ul.menu {
    display: flex;
}

ul.menu li a {
    padding: 8px 20px;
    border: 1px solid transparent;
    margin: 0px 5px;
    text-transform: capitalize;
    border-radius: 20px;
    transition: all .3s ease-in;
    border-color: #f9564f;
}

ul.menu li a:hover {
    color: white;
    background-color: #f9564f;
    border-color: #f9f9f9;
}

ul.menu li:last-child a{
    margin-right: 0;
}
ul.menu li:first-child a{
    margin-left: 0;
}

section {
    padding: 100px;
    background-color: rgb(227, 230, 251);
}

section p {
    margin-bottom: 50px;
}

header.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f9564f;
    transition: all .2s linear;
}

header.sticky ul.menu li a {
    border-color: white;
}

header.sticky ul.menu li a:hover {
    color: #f9564f;
    background-color: white;
    border-color: #f9f9f9;
}






