/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul li, ol li {
    list-style: none;
}


/* website style */
.container {
    width: 1200px;
    margin: 0 auto;
}

.box-container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    min-height: 200px;
    /* align-items: flex-end; */
    align-items: center;
    /* align-items: stretch; */
    justify-content: space-between;
}

.box {
    width: 150px;
    background-color: #9c52e2;
    margin: 10px;

}

/* Menu Design */
header {
    background-color: #0c8db4;
}

.logo {
    height: 50px;
}

.logo img {
    max-height: 100%;
    width: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

ul.menu {
    display: flex;
}

ul.menu li a{
    padding: 10px 20px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

ul.menu li a:hover {
    background-color: tomato;
    color: white;
}

/* CSS Pseudo Elements */
h1 {
    font-size: 60px;
    position: relative;
    display: inline-block;
}

/* h1::after {
    position: absolute;
    content: 'hello';
    right: -27px;
    top: 0;
    color: red;
    font-size: 13px;
} */

h1::before {
    position: absolute;
    content: '';
    right: 9px;
    top: 27px;
    width: 16px;
    height: 28px;
    background-color: black;
    border-radius: 50%;
}